*{
	margin: 0px;
	padding: 0px;

}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;

}
.header{
	width: 100%;
	height: 45px;
	/*background-color: red;*/
}
.header .logo{
	margin-left: 20px;
	float: left;
	opacity: 0.5;
}
.header .logo:hover{
	opacity: 1;
}
.header .logo a{
	background-image: url(../images/player_logo.png);
	width: 78px;
	height: 21px;
	display: inline-block;
}
.header .register{
	float: right;
	list-style-type: none;
	line-height: 45px;

}
.header .register li{
	float: left;
	margin-right: 20px;
	color: #fff;
	overflow: hidden;
	opacity: 0.5;
}
.header .register li:hover{
	opacity: 1;
}
.content{
	width: 100%;
	height: 460px;
	/*background-color: blue;*/
}
.content-in{
	width: 1200px;
	height: 100%;
	/*background-color: pink;*/
	margin: 0 auto;
}
.content-left{
	width: 800px;
	height: 100%;
	/*background-color: purple;*/
	float: left;

}
.content-toolbar{
	width: 100%;
	height: 40px;
	/*background-color: lightblue;*/
}
.content-toolbar span{
	display: inline-block;
	width: 122px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 5px;
	color: #fff;
	/*float: left;*/
	opacity: 0.5;
}
.content-toolbar span:hover{
	opacity: 1;
}
.content-toolbar span i{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	margin-right: 10px;
	vertical-align: -5px;
}
.content-toolbar span:nth-child(1) i{
	background-position: -60px -20px;
}
.content-toolbar span:nth-child(2) i{
	background-position: -20px -20px;
}
.content-toolbar span:nth-child(3) i{
	background-position: -40px -240px;
}
.content-toolbar span:nth-child(4) i{
	background-position: -100px -20px;
}
.content-toolbar span:nth-child(5) i{
	background-position: -40px -300px;
}
.content-list{
	width: 100%;
	height: 420px;
	/*background-color: blue;*/
	overflow: auto;
	overflow: hidden;
}
.content-list li{
	list-style: none;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-sizing: border-box;
	user-select: none;
}
.content-list li div{
	float: left;
	line-height: 50px;
	color: rgba(255,255,255,0.5);
}
.content-list .list_check{
	width: 50px;
	height: 100%;
	/*background-color: black;*/
	text-align: center;

}
.content-list .list_check i{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-color: #fff;
	opacity:0.5 ;
}
.content-list .list_check i:hover{
	opacity: 1;
}
.content-list .list_checked i{
	background: url(../images/icon_sprite.png) no-repeat -60px -80px;
}
.content-list .list_number{
	width: 20px;
	height: 100%;
	/*background-color: darkgreen;*/
}
.content-list .list_number2{
	background: url("../images/wave.gif") no-repeat 0 center;
	/*透明颜色*/
	color: transparent !important;
}
.content-list .list_song{
	width: 50%;
	height: 100%;
	/*background-color: pink;*/
}
.list_song .list_song_menu{
	margin-top: 5px;
	margin-right: 20px;
	float: right;
	display: none;
}
.list_song_menu a{
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url(../images/icon_list_menu.png) no-repeat 0 0;
	opacity: 0.5;
}
.list_song_menu a:hover{
	opacity: 1;
}
.list_song_menu a:nth-child(1){
	 background-position: -120px 0;
}
.list_song_menu a:nth-child(2){
    background-position: -120px -80px;
}
.list_song_menu a:nth-child(3){
    background-position: -120px -120px;
}
.list_song_menu a:nth-child(4){
    background-position: -120px -40px;
}
.list_song_menu .list_song_play2{
	background-position: -80px -200px !important;
}
.content-list .list_singer{
	width: 20%;
	height: 100%;
	/*background-color: red;*/
}
.content-list .list_time a{
	display: inline-block;
	width: 36px;
	height: 36px;
	background:url(../images/icon_list_menu.png) no-repeat -120px -160px;
	margin-top: 5px;
	float: left;
	display: none;
	opacity:0.5;
}
.content-list .list_time a:hover{
	opacity: 1.0;
}
.content-right{
	width: 400px;
	height: 100%;
	/*background-color: lightgreen;*/
	float: left;
	user-select:none;
}
.content-right  .song_info{
	text-align: center;
	color: rgba(255,255,255,0.5);
	line-height: 30px;
}
.song_info .song_info_pic{
	width: 201px;
	height: 180px;
	background: url(../images/album_cover_player.png) no-repeat 0 0;
	display: inline-block;
	text-align: left;
	cursor: pointer;
}
.song_info .song_info_pic img{
	width: 180px;
	height: 180px;
}
.song_info div a{
	text-decoration: none;
	color: #fff;
	opacity: 0.5;

}
.song_info div a:hover{
	opacity: 1;
}
.song_lyric_container{
	margin-top: 30px;
	overflow: hidden;
	height: 120px;
	/*background-color: pink;*/

}
.song_lyric{
	text-align: center;
	/*margin-top: -30px;*/
}
.song_lyric li{
	list-style: none;
	color: rgba(255,255,255,0.5);
	line-height: 30px;
	font-weight: bold;
}
.song_lyric .cur{
	color: #31c27c;
}
.footer{
	width: 100%;
	height: 140px;
	/*background-color: green;*/
	position: absolute;
	bottom: 0px;
}
.footer-in{
	width: 1200px;
	height: 80px;
	/*background-color: black;*/
	margin: 0 auto;
	user-select:none;
}
.footer-in a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: url(../images/player.png) no-repeat 0 0;
	margin-right: 20px;
}
.footer-in .music_prev{
	width: 19px;
	height: 20px;
	background-position: 0 -30px;

}
.footer-in .music_play{
	width: 21px;
	height: 29px;
	background-position: 0 0 ;
	vertical-align: -5px;
}
.footer-in .music_play2{
	background-position: -30px 0px;
}
.footer-in .music_next{
	width: 19px;
	height: 20px;
	background-position: 0 -52px;

}
.footer-in .music_progress_info{
	display: inline-block;
	width: 670px;
	height: 40px;
	/*background-color: blue;*/
	position: relative;
	top:10px;
}
.music_progress_info .music_progress_top{
	width: 100%;
	height: 30px;
	color:#fff;
	line-height: 30px;
	margin-top: 5px;
}

.music_progress_top .music_top_name{
	float: left;
	opacity: 0.5;
}
.music_progress_top .music_top_name:hover{
	opacity: 1;
}
.music_progress_top .music_top_time{
	float: right;
	opacity: 0.5;
}
.music_progress_info .music_progress_bar{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	/*background-color: blue;*/
	height: 4px;
	margin-top: 5px;
	position: relative;
}
.music_progress_bar .music_progress_line{
	width: 0px;
	background-color:#fff;
	height: 100%;
}
.music_progress_bar .music_progress_dot{
	width: 14px;
	height: 14px;
	background-color: #fff;
	position: absolute;
	/*left: 100px;*/
	border-radius: 50%;
	top: -5px;
}
.footer-in .music_mode{
	width: 26px;
	height: 25px;
	background-position: 0 -205px;
}
.footer-in .music_mode2{
	width: 23px;
	height: 20px;
	background-position: 0 -260px;
}
.footer-in .music_mode3{
	width: 25px;
	height: 19px;
	background-position: 0 -74px;
}
.footer-in .music_mode4{
	width: 26px;
	height: 25px;
	background-position: 0 -232px;
}
.footer-in .music_fav{
	width: 24px;
	height: 21px;
	background-position: 0 -96px;
}
.footer-in .music_fav2{
	background-position: -30px -96px;
}
.footer-in .music_down{
	width: 22px;
	height: 21px;
	background-position: 0 -120px;

}
.footer-in .music_comment{
	width: 24px;
	height: 21px;
	background-position: 0 -400px;
}
.footer-in .music_only{
	width: 74px;
	height: 27px;
	background-position: 0 -281px;
}
.footer-in .music_only2{
	width: 74px;
	height: 27px;
	background-position: 0 -310px;
}
.footer-in .music_voice_info{
	display: inline-block;
	width: 100px;
	height: 40px;
	/*background-color: yellow;*/
	position: relative;
	top:10px;
}
.music_voice_info .music_voice_icon{
	width:26px;
	height: 21px;
	background-position: 0 -144px;
	position: absolute;
	top: 10px;
	left: 0px;
}
.music_voice_info .music_voice_icon2{
	background-position: 0 -182px;
}
.music_voice_info .music_voice_bar{
	width: 70px;
	height: 4px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top:18px;
	right: 0px;
}
.music_voice_bar .music_voice_line{
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.music_voice_bar .music_voice_dot{
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	top:-5px;
}
/*自定义滚动条宽度*/
._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ 
	width: 8px; 
}
.mask-bg{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/lnj.jpg) no-repeat;
	z-index: -2;
	background-size: cover;
	filter: blur(100px);
}
.mask{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
	z-index: -1;
	
}
